*{
    padding: 0;
    margin: 0;
}

.count__down__section{
    height: 100vh;
    display: flex;
    align-items: center;
}

.card.text-center {
    box-shadow: 0 0 35px 5px rgb(156 156 156 / 31%);
}